<!-- footer -->
<footer class="bg-light small text-secondary py-4 px-3 mt-4">
    <div class="container">
        <div class="row justify-content-between ">
            <!-- 왼쪽 정보 영역 -->
            <div class="col-md-7">
                <div>
                    점핏 고객센터 : 02-6226-5000 (평일 09:00 - 18:00, 점심시간 12:00 - 13:00, 주말·공휴일 휴무)
                </div>
                <div class="mt-1">
                    이메일 : help@jumpit.co.kr / Fax : 02-6937-0036
                </div>
                <div class="mt-4">
                    (주)사람인, 우 : 07800, 서울특별시 강서구 공항대로 165, C동 11층(마곡동, 원그로브), 대표 : 황현순
                </div>
                <div class="mt-1">
                    사업자등록 : 113-86-00917 / 직업정보제공사업 : 서울 관악 제 2005-6호 / 통신판매업 : 제 2025-서울강서-0847호
                </div>
                <div class="mt-4">Copyright (c) (주)사람인. All rights reserved.</div>
            </div>
            <!-- 오른쪽 링크 목록 -->
            <div class="col-md-4 mt-3 mt-md-0">
                <div class="row row-cols-2 g-2 text-end ">
                    <div class="col"><a href="#" class="text-secondary text-decoration-none">서비스 소개</a>
                    </div>
                    <div class="col"><a href="#" class="text-secondary text-decoration-none">회원약관</a></div>
                    <div class="col"><a href="#" class="text-secondary text-decoration-none">기업 서비스</a>
                    </div>
                    <div class="col"><a href="#" class="text-secondary fw-semibold text-decoration-none">개인정보처리방침</a>
                    </div>
                    <div class="col"><a href="#" class="text-secondary text-decoration-none">점핏Team</a>
                    </div>
                    <div class="col"><a href="#" class="text-secondary text-decoration-none">자주묻는질문 FAQ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer 끝 -->
</div>
</div>
</body>

</html>