{{> layout/personal-header}}

      <!-- 본문 -->
      <div class="bg-light p-4">
        <div class="container bg-white p-3 border">
          <div class="d-flex justify-content-between align-items-center border-bottom pb-2 mb-2">
            <div type="text" class="form-control border-0 p-0 fw-bold fs-4">
              제목
            </div>
            <div class="dropdown">
              <button class="btn btn-sm btn-light border-0" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                &#8942;
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="#">수정</a></li>
                <li><a class="dropdown-item text-danger" href="#">삭제</a></li>
              </ul>
            </div>
          </div>

          <div class="d-flex justify-content-between align-items-center mb-2">
            <div class="d-flex align-items-center gap-2">
              <span class="fw-semibold">김점핏</span>
            </div>
            <small class="text-muted">2025.04.15</small>
          </div>

          <div class="border p-3 mb-3" style="min-height: 200px">
            <div class="form-control" style="resize: none; border: none" rows="6">
              게시글 내용
            </div>
          </div>
          <div class="text-center border p-2 mb-4">
            <button class="btn btn-outline-primary btn-sm rounded-circle p-3" ">
                <div>1</div>
                <div>좋아요</div>
              </button>
          </div>
    
          <div class=" bg-light border p-3 mb-3">
              <form class="row g-2 align-items-center">
                <div class="col">
                  <input type="text" class="form-control" placeholder="댓글 작성하기..." />
                </div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-outline-primary">
                    댓글 등록
                  </button>
                </div>
              </form>
          </div>

          <div class="bg-light border p-2">
            <div class="d-flex align-items-center justify-content-between bg-white p-3 mb-2 rounded">
              <div class="d-flex align-items-center" style="min-width: 160px">
                <strong>김유저1</strong>

                <div class="border-start border-dark ms-2" style="height: 30px"></div>
              </div>

              <div class="d-flex justify-content-between align-items-center w-100">
                <div class="text-muted small">김유저1이 쓴 댓글 내용~~~</div>

                <div class="dropdown">
                  <button class="btn btn-sm btn-light border-0" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    &#8942;
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">수정</a></li>
                    <li><a class="dropdown-item text-danger" href="#">삭제</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-between bg-white p-3 mb-2 rounded">
              <div class="d-flex align-items-center" style="min-width: 160px">
                <strong>김유저2</strong>

                <div class="border-start border-dark ms-2" style="height: 30px"></div>
              </div>

              <div class="d-flex justify-content-between align-items-center w-100">
                <div class="text-muted small">김유저2이 쓴 댓글 내용~~~</div>

                <div class="dropdown">
                  <button class="btn btn-sm btn-light border-0" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    &#8942;
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">수정</a></li>
                    <li><a class="dropdown-item text-danger" href="#">삭제</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-between bg-white p-3 mb-2 rounded">
              <div class="d-flex align-items-center" style="min-width: 160px">
                <strong>김유저3</strong>

                <div class="border-start border-dark ms-2" style="height: 30px"></div>
              </div>

              <div class="d-flex justify-content-between align-items-center w-100">
                <div class="text-muted small">김유저3이 쓴 댓글 내용~~~</div>

                <div class="dropdown">
                  <button class="btn btn-sm btn-light border-0" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    &#8942;
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">수정</a></li>
                    <li><a class="dropdown-item text-danger" href="#">삭제</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 본문 끝 -->

{{> layout/footer}}