{{> layout/personal-header}}

      <!-- 본문 -->
      <div class="main container mt-5">
        <div class="container py-4">
          <div class="row justify-content-center gx-5">
            <!-- 사이드바 -->
            <div class="col-md-3">
              <div class="card p-3">
                <h5 class="fw-bold mb-1">항목편집</h5>
                <div class="d-flex align-items-center gap-2 mt-1">
                  <span style="font-size: 14px; color: #999999">필수 항목<span class="text-danger">*</span></span>
                </div>
                <hr class="mt-1 mb-3" />

                <!-- 항목 목록 -->
                <div class="mb-2 d-flex justify-content-between align-items-center">
                  <span>기본정보 <span class="text-danger">*</span></span>
                </div>
                <div class="mb-2 d-flex justify-content-between align-items-center">
                  <span>사진</span>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" />
                  </div>
                </div>
                <div class="mb-2 d-flex justify-content-between align-items-center">
                  <span>간단소개</span>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" />
                  </div>
                </div>
                <div class="mb-2 d-flex justify-content-between align-items-center">
                  <span>개발직무 <span class="text-danger">*</span></span>
                </div>
                <div class="mb-2 d-flex justify-content-between align-items-center">
                  <span>기술스택 <span class="text-danger">*</span></span>
                </div>
                <div class="mb-2 d-flex justify-content-between align-items-center">
                  <span>링크</span>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" checked />
                  </div>
                </div>
                <div class="mb-2 d-flex justify-content-between align-items-center">
                  <span>학력 <span class="text-danger">*</span></span>
                </div>
                <div class="mb-2 d-flex justify-content-between align-items-center">
                  <span>경력</span>
                </div>
                <div class="mb-2 d-flex justify-content-between align-items-center">
                  <span>프로젝트 <span class="text-danger">*</span></span>
                </div>
                <div class="mb-2 d-flex justify-content-between align-items-center">
                  <span>교육이력</span>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" />
                  </div>
                </div>
                <div class="mb-2 d-flex justify-content-between align-items-center">
                  <span>기타사항</span>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" />
                  </div>
                </div>
                <div class="mb-2 d-flex justify-content-between align-items-center">
                  <span>자기소개서</span>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" />
                  </div>
                </div>
              </div>
            </div>

            <!-- 본문 영역 -->
            <div class="col-md-9">
              <div class="resume-section">
                <!-- 이력서 제목 -->
                <div
                  class="bg-white rounded-3 px-4 py-3 d-flex justify-content-between align-items-center mb-4 shadow-sm">
                  <h5 class="mb-0 fw-semibold">{{model.title}}</h5>
                </div>

                <!-- 기본정보 박스 -->
                <div class="bg-white rounded-3 p-4 mb-4 shadow-sm">
                  <h5 class="fw-bold mb-3">{{model.name}}</h5>
                  <hr class="mt-1 mb-3" />
                  <div class="rounded-3 p-3">
                    <div class="d-flex flex-wrap align-items-center gap-3" style="border: none">
                      <div class="d-flex align-items-center">
                        <i class="bi bi-envelope me-2"></i>
                        <span>{{model.email}}</span>
                      </div>
                      <div class="d-flex align-items-center">
                        <i class="bi bi-briefcase me-2"></i>
                        <div>신입</div>
                      </div>
                    </div>

                    <div class="d-flex flex-wrap align-items-center mb-2 gap-3">
                      <div class="d-flex align-items-center">
                        <i class="bi bi-calendar3 me-2"></i><span>{{model.birthDate}}년생</span>
                      </div>
                      <div class="d-flex align-items-center">
                        <i class="bi bi-telephone me-2"></i><span>{{model.contactNumber}}</span>
                      </div>
                      <div class="d-flex align-items-center">
                        <label class="form-check-label ms-2 me-1" for="resumeToggle" style="font-size: 14px">
                            {{#model.isPublic}}이력서 공개{{/model.isPublic}}
                            {{^model.isPublic}}이력서 비공개{{/model.isPublic}}
                        </label>
                      </div>
                    </div>

                    <div>
                      <small class="text-muted">· 지원 현황에 대한 정보 및 포지션 추천정보를 받아볼
                        연락처를 입력해주세요</small>
                    </div>
                  </div>
                </div>

                <!-- 개발 직무 -->
                <div class="bg-white rounded-3 p-4 mb-4 shadow-sm">
                  <label class="form-label fw-bold"><span class ="text-danger">*</span> 개발 직무</label>
                  <hr class="mt-1 mb-3" />
                  <div class="bg-light rounded-2 px-3 py-2 d-flex align-items-center">
                    <div>{{model.positionType}}</div>
                  </div>
                </div>

                <!-- 기술스택 -->
                <div class="bg-white rounded-3 p-4 mb-4 shadow-sm">
                  <label class="form-label fw-bold"><span class="text-danger">*</span> 기술스택(업무
                    툴/스킬)</label>
                  <hr class="mt-1 mb-3" />
                  <div class="mb-2 d-flex flex-wrap gap-2 fs-5">
                      {{#model.techStackList}}
                          <span class="badge bg-secondary">{{techStack}}</span>
                      {{/model.techStackList}}
                  </div>
                </div>

                <!-- 링크 -->
                <div class="bg-white rounded-3 p-4 mb-4 shadow-sm">
                  <label class="form-label fw-bold">링크</label>
                  <hr class="mt-1 mb-3" />
                  <div>
                    {{#model.links}}
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <div class="d-flex align-items-start gap-2">

                                <div>
                                    <strong>{{title}}</strong><br /><a href="{{url}}" target="_blank"
                                                                    class="text-decoration-none text-muted">{{url}} <i class="bi bi-box-arrow-up-right"></i></a>
                                </div>
                            </div>
                        </div>
                    {{/model.links}}
                  </div>
                </div>

                <div class="bg-white rounded-3 p-4 mb-4 shadow-sm">
                  <label class="form-label fw-bold">
                    <span class="text-danger">*</span> 학력
                  </label>
                  <hr class="mt-1 mb-3" />

                  {{#model.educations}}
                      <div class="d-flex flex-wrap education-wrapper gap-3 mb-3">
                          <!-- 왼쪽: 졸업예정/중퇴 -->
                          <div class="left-edu-box" style="min-width: 180px;">
                              <label for="graduateMonth" class="form-label fw-bold"><span class ="text-danger">*</span> 졸업(예정)</label>
                              <div class="mb-2">{{graduationDate}}</div>
                              {{#isDropOut}}
                                  <div class="form-check mt-1 ps-0">
                                      <span class="badge bg-primary mb-2">중퇴</span>
                                  </div>
                              {{/isDropOut}}
                          </div>

                          <!-- 오른쪽: 학력구분 ~ 학점 -->
                          <div class="right-edu-box flex-grow-1">
                              <div class="row gx-2 mb-2">
                                  <div class="col-4">
                                      <div><span class ="text-danger">*</span><span class="fw-semibold me-2"> 학력 구분 : </span><span>{{educationLevel}}</span></div>
                                  </div>
                                  <div class="col-8">
                                      <span class="fw-semibold me-2">대학명 : </span><span>{{schoolName}}</span>
                                  </div>
                              </div>
                              <div class="mb-2">
                                  <span class="fw-semibold me-2">학과명 : </span><span>{{major}}</span>
                              </div>
                              <div class="d-flex align-items-center gap-2">
                                  <span class="fw-semibold me-2">학점 : </span><span>{{gpa}} / {{gpaScale}}</span>
                              </div>
                          </div>
                      </div>

                  {{/model.educations}}
                </div>


                <!-- 경력(업무경험) 입력 폼 -->
                <!-- 경력 -->
                <div class="bg-white rounded-3 p-4 mb-4 shadow-sm">
                  <label class="form-label fw-bold= mb-2 fw-bold">경력(업무경험)</label>
                  <hr class="mt-1 mb-3" />
                  {{#model.experiences}}
                      <div class="row mb-3">
                          <!-- 좌측: 근무기간 -->
                          <div class="col-md-4 mb-2">
                              <div class="fw-semibold mb-1"><span class="text-danger">*</span> 근무기간</div>
                              {{#isEmployed}}
                                  <div>{{startDate}} ~ </div>
                                  <span class="badge bg-primary mt-1">재직중</span>
                              {{/isEmployed}}
                              {{^isEmployed}}
                                  <div>{{startDate}} ~ {{endDate}}</div>
                              {{/isEmployed}}

                          </div>

                          <!-- 우측: 상세내용 -->
                          <div class="col-md-8">
                              <div><strong><span class ="text-danger">*</span> 회사명 : </strong>{{companyName}}</div>
                              <div><strong>회사 소개 : </strong>{{summary}}</div>
                              <div><strong>부서명/직책 : </strong> {{position}}</div>
                              <div class="mt-2">
                                  {{#techStackList}}
                                      <span class="badge bg-secondary me-1">{{techStack}}</span>
                                  {{/techStackList}}
                              </div>

                              <div class="bg-light rounded mt-2 p-2"><span class ="text-danger">*</span>
                                  {{responsibility}}
                              </div>
                          </div>
                      </div>
                  {{/model.experiences}}
                </div>




                <!--프로젝트 부분-->
                <!-- 프로젝트 -->
                <div class="bg-white rounded-3 p-4 mb-4 shadow-sm">
                  <label class="form-label fw-bold"><span class ="text-danger">*</span> 프로젝트</label>
                  <hr class="mt-1 mb-3" />
                  <div class="row">
                    <!-- 좌측: 프로젝트 기간 -->
                    <div class="col-md-4 mb-2">
                      <div class="fw-semibold text mb-1"><span class ="text-danger">*</span>프로젝트 기간</div>
                      <div>2025년 04월 17일 ~ 2025년 04월 17일</div>
                      <span class="badge bg-primary mt-1">진행중</span>
                    </div>

                    <!-- 우측: 프로젝트 상세 -->
                    <div class="col-md-8">
                      <div><span class ="text-danger">*</span><strong> 프로젝트명 :</strong> 프로젝트명 입니다.</div>
                      <div><strong>프로젝트 소개 :</strong> 프로젝트 소개입니다.</div>
                      <div class="mt-2">
                        <span class="badge bg-secondary me-1">JavaScript</span>
                        <span class="badge bg-secondary me-1">React</span>
                        <span class="badge bg-secondary me-1">Node.js</span>
                      </div>
                      <div class="bg-light rounded mt-2 p-2">
                          <span class ="text-danger">*</span>
                           상세내용입니다.상세내용입니다.상세내용입니다.상세내용입니다.
                      </div>
                      <div class="mt-2">
                        <div><strong>저장소 링크</strong></div>
                        <div class="bg-light p-2 rounded text-muted">https://www.naver.com/</div>
                      </div>
                    </div>
                  </div>
                </div>


                <!--교육이력 부분-->
                <div class="bg-white rounded-3 p-4 mb-4 shadow-sm">
                  <label class="form-label fw-bold mb-2">
                    교육이력
                  </label>
                  <hr class="mt-1 mb-3" />

                  <!-- 전체 wrapper -->

                  <div class="d-flex flex-wrap gap-3">

                    <!-- 날짜 및 재직 중 -->
                    <div class="d-flex flex-column" style="min-width: 200px">
                      <div class="mb-2">
                        <label class="form-label fw-bold"><span class="text-danger">*</span> 교육 기간</label>
                        <div class="d-flex align-items-center gap-2">
                          <!-- 시작일 -->
                          <div>2025년 04월 17일</div>
                          ~
                          <!-- 종료일 -->
                          <div>2025년 04월 17일</div>
                        </div>
                      </div>

                      <div class="form-check ps-0">
                        <span class="badge bg-primary mb-2">진행중</span>
                      </div>
                    </div>

                    <!-- 회사 정보 영역 -->
                    <div class="flex-grow-1">
                      <div class="mb-2">
                        <span class="fw-semibold me-2">교육명 : </span><span>교육과정입니다.</span>
                      </div>


                      <div class="row gx-2 mb-2">

                        <div>
                          <span class="fw-semibold me-2">교육기관 :
                          </span> <span>교육기관입니다.</span>
                        </div>
                      </div>
                      <div class="mb-2 d-flex flex-wrap gap-2">
                        <span class="badge bg-secondary">JavaScript</span>
                        <span class="badge bg-secondary">React</span>
                        <span class="badge bg-secondary">Node.js</span>
                      </div>
                      <div class="mb-2 bg-light p-2">
                        <span>상세내용입니다.</span>
                      </div>
                    </div>
                  </div>
                </div>

                <!--기타 사항 부분-->
                <div class="bg-white rounded-3 p-4 mb-4 shadow-sm">
                  <label class="form-label fw-bold mb-2">
                    기타사항
                  </label>
                  <hr class="mt-1 mb-3" />
                    <div class="text-muted mb-3" style="font-size: 14px;">
                        자격증, 대외활동, 어학, 수상이력 등을 추가하여 풍부한 이력서를 완성해보세요!
                    </div>
                  <!-- 전체 wrapper -->
                  {{#model.etcs}}

                      <div class="d-flex flex-wrap gap-3 mb-3">

                          <!-- 교육기간 및 종료일 유무 -->
                          <div class="d-flex flex-column" style="min-width: 200px">
                              <div class="mb-2">
                                  <label class="form-label fw-bold"><span class="text-danger">*</span> 교육 기간</label>
                                  {{#hasEndDate}}
                                      <div class="d-flex align-items-center gap-2">
                                          <!-- 시작일 -->
                                          <div>{{startDate}}</div>
                                          ~
                                          <!-- 종료일 -->
                                          <div>{{endDate}}</div>
                                      </div>
                                  {{/hasEndDate}}
                                  {{^hasEndDate}}
                                      <div class="d-flex align-items-center gap-2">
                                          <!-- 시작일 -->
                                          <div>{{startDate}}</div>

                                      </div>
                                      <div class="form-check ps-0">
                                          <span class="badge bg-primary mb-2">종료일 없음</span>
                                      </div>
                                  {{/hasEndDate}}
                              </div>
                          </div>

                          <div class="flex-grow-1">
                              <div class="mb-2">
                                  <span class="fw-semibold me-2">활동명/이력제목 : </span><span>{{title}}</span>
                              </div>


                              <div class="row gx-2 mb-2">
                                  <div class="col-md-4">
                                      {{etcType}}
                                  </div>
                                  <div class="col-md-8">
                                      <div>
                            <span class="fw-semibold me-2">교육기관 :
                            </span> <span>{{institutionName}}</span>
                                      </div>
                                  </div>
                              </div>
                              <div class="mb-2">
                                  <div class="mb-2 bg-light p-2">
                                      <span>{{description}}</span>
                                  </div>
                              </div>
                          </div>
                      </div>

                  {{/model.etcs}}
                </div>

                <div class="form-section bg-white rounded-3 p-4 mb-4 shadow-sm">
                  <label class="form-label fw-bold mb-1 text-dark">
                    자기소개서
                  </label>
                  <hr class="my-2" />
                  <div>
                    <div class="mb-2 bg-light p-2">
                      <div>{{model.selfIntroduction}}</div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 본문 끝 -->

{{> layout/footer}}