{{> layout/personal-header}}

            <!-- 본문 -->
            <div class="bg-light">
                <div class="main container ">
                    <div class="p-3">
                        <div class="bg-white p-3 border">
                            <!-- 이력서 목록 -->
                            <div class="resumeContainer">
                                <h3 class="resumeTitle p-3">이력서 관리</h3>
                                <div class="resumeList">

                                    <!-- 반복 가능한 resumeItem -->
                                    {{#models}}
                                        <div class="resumeItem">
                                            <div class="dropdown" style="position: absolute; top: 10px; right: 10px;">
                                                <button class="btn btn-sm btn-light dropdown-toggle" type="button"
                                                        id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                        aria-expanded="false">
                                                    ⋮
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                    <li><a class="dropdown-item" href="#">수정</a></li>
                                                    <li><a class="dropdown-item" href="#">삭제</a></li>
                                                </ul>
                                            </div>
                                            <h6>{{title}}</h6>
                                            <small class="mb-5">기본정보 ・ 학력 ・ 프로젝트</small>
                                            <div class="date mt-5">{{createdAt}}</div>

                                            <!-- 공개/비공개 토글버튼 -->
                                            <div class="toggleContainer">
                                                <label for="toggleSwitch1">공개/비공개</label>
                                                <div class="toggleSwitch" id="toggleSwitch1"></div>
                                            </div>
                                        </div>
                                    {{/models}}



                                    <!-- 새로운 이력서 등록 버튼 -->
                                    <div class="resumeItem d-flex align-items-center justify-content-center"
                                        id="resumeWrite">
                                        <button class="btn p-0 border-0 bg-transparent">
                                            <i class="bi bi-plus-circle text-primary fs-3"></i>
                                        </button>
                                        <small>새로운 이력서를 추가해보세요!</small>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    const toggleSwitches = document.querySelectorAll('.toggleSwitch');

                    toggleSwitches.forEach(toggleSwitch => {
                        toggleSwitch.addEventListener('click', function () {
                            this.classList.toggle('active');
                        });
                    });
                });
            </script>
            <!-- 본문 끝 -->

{{> layout/footer}}