{{> layout/company-header}}

            <!-- 본문 -->
            <div class="main container mt-5">
                <div class="container">
                    <!-- 제목과 버튼 -->
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h1 class="fs-4 fw-semibold">포지션 리스트</h1>
                        <button class="btn btn-primary">포지션 등록</button>
                    </div>

                    <div class="row g-5">
                        <!-- 진행중 리스트 -->
                        <div class="col-md-6">
                            <h2 class="fs-6 fw-medium mb-3">
                                진행 중 <span class="text-success fw-semibold">5</span>
                            </h2>
                            <div class="vstack gap-3">
                                <!-- 카드 1 -->
                                <div class="card p-3 card-clickable">
                                    <div class="card-body text-start">
                                        <button type="button"
                                            class="btn btn-link text-dark text-decoration-none p-0 text-start fw-semibold"
                                            onclick="location.href='/position-detail'">
                                            [사람인HR] 위치플랫폼 서버단 PJ 개선과 설계
                                        </button>
                                        <p class="card-text text-muted">2021.07.26</p>
                                        <span class="badge bg-primary">진행중</span>
                                    </div>
                                </div>

                                <!-- 카드 2 -->
                                <div class="card p-3 card-clickable">
                                    <div class="card-body text-start">
                                        <button type="button"
                                            class="btn btn-link text-dark text-decoration-none p-0 text-start fw-semibold"
                                            onclick="location.href='/position-detail'">
                                            [사람인HR] Java 및 Python
                                        </button>
                                        <p class="card-text text-muted">상시</p>
                                        <span class="badge bg-primary">진행중</span>
                                    </div>
                                </div>

                                <!-- 카드 3 -->
                                <div class="card p-3 card-clickable">
                                    <div class="card-body text-start">
                                        <button type="button"
                                            class="btn btn-link text-dark text-decoration-none p-0 text-start fw-semibold"
                                            onclick="location.href='/position-detail'">
                                            [잡코] 백엔드 개발자 영입
                                        </button>
                                        <p class="card-text text-muted">상시</p>
                                        <span class="badge bg-primary">진행중</span>
                                    </div>
                                </div>

                                <!-- 카드 4 -->
                                <div class="card p-3 card-clickable">
                                    <div class="card-body text-start">
                                        <button type="button"
                                            class="btn btn-link text-dark text-decoration-none p-0 text-start fw-semibold"
                                            onclick="location.href='/position-detail'">
                                            [사람인HR] 서비스 개발자
                                        </button>
                                        <p class="card-text text-muted">2021.08.01</p>
                                        <span class="badge bg-primary">진행중</span>
                                    </div>
                                </div>

                                <!-- 카드 5 -->
                                <div class="card p-3 card-clickable">
                                    <div class="card-body text-start">
                                        <button type="button"
                                            class="btn btn-link text-dark text-decoration-none p-0 text-start fw-semibold"
                                            onclick="location.href='/position-detail'">
                                            [사람인HR] 서비스 개발자
                                        </button>
                                        <p class="card-text text-muted">2021.08.01</p>
                                        <span class="badge bg-primary">진행중</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 상태 종료 -->
                        <div class="col-md-6">
                            <h2 class="fs-6 fw-medium mb-3">
                                마감 <span class="text-secondary fw-semibold">4</span>
                            </h2>
                            <div class="vstack gap-3">
                                <!-- 카드 1 -->
                                <div class="card p-3 card-clickable">
                                    <div class="card-body text-start">
                                        <button type="button"
                                            class="btn btn-link text-dark text-decoration-none p-0 text-start fw-semibold"
                                            onclick="location.href='/position-detail'">
                                            2021년 사람인 IT연구소 상반기 정기 공개채용
                                        </button>
                                        <p class="card-text text-muted">2021.01.06</p>
                                        <span class="badge bg-secondary">상태종료</span>
                                    </div>
                                </div>

                                <!-- 카드 2 -->
                                <div class="card p-3 card-clickable">
                                    <div class="card-body text-start">
                                        <button type="button"
                                            class="btn btn-link text-dark text-decoration-none p-0 text-start fw-semibold"
                                            onclick="location.href='/position-detail'">
                                            [사람인LAB] 위젯플랫폼 백엔드 개발자
                                        </button>
                                        <p class="card-text text-muted">2021.01.08</p>
                                        <span class="badge bg-secondary">상태종료</span>
                                    </div>
                                </div>

                                <!-- 카드 3 -->
                                <div class="card p-3 card-clickable">
                                    <div class="card-body text-start">
                                        <button type="button"
                                            class="btn btn-link text-dark text-decoration-none p-0 text-start fw-semibold"
                                            onclick="location.href='/position-detail'">
                                            [잡코] 프론트엔드 개발자
                                        </button>
                                        <p class="card-text text-muted">2021.07.07</p>
                                        <span class="badge bg-secondary">상태종료</span>
                                    </div>
                                </div>

                                <!-- 카드 4 -->
                                <div class="card p-3 card-clickable">
                                    <div class="card-body text-start">
                                        <button type="button"
                                            class="btn btn-link text-dark text-decoration-none p-0 text-start fw-semibold"
                                            onclick="location.href='/position-detail'">
                                            [사람인LAB] 위젯플랫폼 백엔드 개발자
                                        </button>
                                        <p class="card-text text-muted">2021.01.10</p>
                                        <span class="badge bg-secondary">상태종료</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 본문 끝 -->

{{> layout/footer}}