{{> layout/personal-header}}

            <!-- 본문 -->
            <div class="main container mt-5">
                <div class="content-wrapper">
                    <div class="myJumpitWrapper">
                        <div class="myJumpit">
                            <h5>마이랩핏</h5>
                            <div class="menuItems">
                                <a href="/personal/mypage/application" class="menuItem">입사지원 현황</a>
                                <a href="#" class="menuItem">스크랩 포지션</a>
                                <hr class="menuDivider">
                                <a href="#" class="menuItem">계정 정보 설정</a>
                            </div>
                        </div>
                    </div>
                    <div class="myStatus">
                        <div class="myStatusInner">
                            <div class="myStatusTitle">마이 랩핏</div>
                            <div class="statusBoxes">
                                <div class="statusBox">
                                    <h6>지원완료</h6>
                                    <span class="statusCount">{{model.total}}</span>
                                </div>
                                <div class="statusBox">
                                    <h6>최종합격</h6>
                                    <span class="statusCount">{{model.passed}}</span>
                                </div>
                                <div class="statusBox">
                                    <h6>불합격</h6>
                                    <span class="statusCount">{{model.failed}}</span>
                                </div>
                            </div>
                        </div>
                        <!-- 지원현황 목록 -->
                        <div class="applyContainer">
                            <h5 class="applyTitle">지원완료 총 {{model.total}}건</h5>
                            <!-- 반복 가능한 applyItem -->
                            <div class="applyList">
                                {{#models}}
                                    <div class="applyItem">
                                        <div class="card mb-3">
                                            <a href="#" class="card-body text-start rounded border-0 text-decoration-none bg-white">
                                                <h6 class="card-title mb-2">{{companyName}}</h6>
                                                <h5 class="card-title mb-2">{{jobTitle}}</h5>
                                                <small>{{appliedDate}} 지원</small>
                                            </a>
                                        </div>
                                    </div>
                                {{/models}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    const toggleSwitches = document.querySelectorAll('.toggleSwitch');

                    toggleSwitches.forEach(toggleSwitch => {
                        toggleSwitch.addEventListener('click', function () {
                            this.classList.toggle('active');
                        });
                    });
                });
            </script>
            <!-- 본문 끝 -->

{{> layout/footer}}