{{> layout/personal-header}}

<!-- 본문 -->
<div class="main container mt-5">
    <div>
        <h4 class="fw-bold mt-5 mb-4 fs-2">직무 탐색</h4>

        <!-- 직무 필터 -->
        <div>
            <div>
                <button class="btn btn-sm btn-primary rounded-5">전체</button>
                {{#models.positions}}
                    <button class="btn btn-sm btn-outline-primary rounded-5" name="label"
                            value="{{label}}">{{label}}</button>
                {{/models.positions}}
            </div>
        </div>
    </div>

    <div class="bg-light mt-4 p-3 rounded">
        <!-- 기술스택 드롭다운 -->
        <div class="dropdown d-inline-block me-2">
            <button class="btn btn-outline-primary dropdown-toggle rounded-5" type="button" data-bs-toggle="dropdown">
                기술스택
            </button>
            <ul class="dropdown-menu">
                {{#models.techStacks}}
                    <li><a class="dropdown-item" href="#">{{code}}</a></li>
                {{/models.techStacks}}
            </ul>
        </div>

        <!-- 경력 드롭다운 (하드코딩) -->
        <div class="dropdown d-inline-block me-2">
            <button class="btn btn-outline-primary dropdown-toggle rounded-5" type="button" data-bs-toggle="dropdown">
                경력
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">전체</a></li>
                <li><a class="dropdown-item" href="#">신입</a></li>
                <li><a class="dropdown-item" href="#">1년</a></li>
                <li><a class="dropdown-item" href="#">2년</a></li>
                <li><a class="dropdown-item" href="#">3년</a></li>
                <li><a class="dropdown-item" href="#">9년</a></li>
                <li><a class="dropdown-item" href="#">10년 이상</a></li>
            </ul>
        </div>

        <!-- 지역(시) 드롭다운 -->
        <div class="dropdown d-inline-block">
            <button class="btn {{#models.selectedRegionId}}btn-primary{{/models.selectedRegionId}} {{^models.selectedRegionId}}btn-outline-primary{{/models.selectedRegionId}} dropdown-toggle rounded-5"
                    type="button" data-bs-toggle="dropdown">
                {{#models.selectedRegionName}}{{models.selectedRegionName}}{{/models.selectedRegionName}}
                {{^models.selectedRegionName}}지역(시){{/models.selectedRegionName}}
            </button>
            <ul class="dropdown-menu">
                {{#models.regions}}
                    <li>
                        <form method="get" action="/personal/jobposting/list">
                            <input type="hidden" name="regionId" value="{{regionId}}">
                            <button class="dropdown-item" type="submit">{{region}}</button>
                        </form>
                    </li>
                {{/models.regions}}
            </ul>
        </div>

        <!-- 지역(군/구) 드롭다운 -->
        <div class="dropdown d-inline-block">
            <button class="btn {{#models.selectedSubRegionId}}btn-primary{{/models.selectedSubRegionId}} {{^models.selectedSubRegionId}}btn-outline-primary{{/models.selectedSubRegionId}} dropdown-toggle rounded-5"
                    type="button" data-bs-toggle="dropdown">
                {{#models.selectedSubRegionName}}{{models.selectedSubRegionName}}{{/models.selectedSubRegionName}}
                {{^models.selectedSubRegionName}}지역(군/구){{/models.selectedSubRegionName}}
            </button>
            <ul class="dropdown-menu">
                {{#models.subRegions}}
                    <li>
                        <form method="get" action="/personal/jobposting/list">
                            <input type="hidden" name="regionId" value="{{models.selectedRegionId}}">
                            <input type="hidden" name="subRegionId" value="{{subRegionId}}">
                            <button class="dropdown-item" type="submit">{{subRegion}}</button>
                        </form>
                    </li>
                {{/models.subRegions}}
            </ul>
        </div>


        <!-- 인기순/최신순 버튼 -->
        <div class="d-flex flex-row-reverse mt-3 mb-2">
            <button class="btn btn-outline-light text-dark me-3">인기순</button>
            <button class="btn btn-outline-light text-dark">최신순</button>
        </div>

        <!-- 공고 카드 리스트 -->
        <div class="row gx-3 gy-4 ms-2 me-2">
            {{#models.jobPostingList}}
                <div class="col-md-3 col-sm-6">
                    <a href="/상세페이지URL1" class="text-decoration-none text-dark">
                        <div class="mb-3 position-relative">
                            <img src="/img/{{image}}" class="img-fluid rounded">
                            <span class="position-absolute top-0 start-0 badge bg-primary ms-2 mt-2">
                                D-{{dDay}}
                            </span>
                        </div>
                        <div>
                            <div class="position-relative">
                                <div class="mb-2">{{companyName}}</div>
                            </div>
                            <h4 class="mb-2">{{title}}</h4>
                            <div class="mb-3">
                                <div>
                                    <small>
                                        {{#techStacks}}
                                            {{name}} ·
                                        {{/techStacks}}
                                    </small>
                                </div>
                                <div>
                                    <small>{{address}} · 경력 {{career}}</small>
                                </div>
                            </div>
                        </div>
                    </a>
                    <button class="btn btn-outline-primary w-100">
                        <i class="fa fa-bookmark-o me-2"></i> 스크랩하기
                    </button>
                </div>
            {{/models.jobPostingList}}
        </div>
    </div>
</div>
<!-- 본문 끝 -->


{{> layout/footer}}