{{> layout/personal-header}}

<!-- 본문 -->
<div class="main container mt-5">
    <div>
        <h4 class="fw-bold mt-5 mb-4 fs-2">직무 탐색</h4>

        <div>
            <div>
                <button class="btn btn-sm btn-primary rounded-5">전체</button>
                <button class="btn btn-sm btn-outline-primary rounded-5">서버/백엔드</button>
                <button class="btn btn-sm btn-outline-primary rounded-5">프론트엔드</button>
                <button class="btn btn-sm btn-outline-primary rounded-5">웹 풀스택</button>
                <button class="btn btn-sm btn-outline-primary rounded-5">안드로이드</button>
                <button class="btn btn-sm btn-outline-primary rounded-5">iOS</button>
                <button class="btn btn-sm btn-outline-primary rounded-5">크로스플랫폼</button>
            </div>
            <div class="mt-2">
                <button class="btn btn-sm btn-outline-primary rounded-5">게임 클라이언트</button>
                <button class="btn btn-sm btn-outline-primary rounded-5">게임 서버</button>
                <button class="btn btn-sm btn-outline-primary rounded-5">DBA</button>
                <button class="btn btn-sm btn-outline-primary rounded-5">빅데이터 엔지니어</button>
                <button class="btn btn-sm btn-outline-primary rounded-5">인공지능/머신러닝</button>
                <button class="btn btn-sm btn-outline-primary rounded-5">devops/시스템 엔지니어</button>
            </div>
            <div class="mt-2 mb-5">
                <button class="btn btn-sm btn-outline-primary rounded-5">정보보안 담당자</button>
                <button class="btn btn-sm btn-outline-primary rounded-5">QA 엔지니어</button>
                <button class="btn btn-sm btn-outline-primary rounded-5">개발 PM</button>
                <button class="btn btn-sm btn-outline-primary rounded-5">HW/임베디드</button>
                <button class="btn btn-sm btn-outline-primary rounded-5">SW/솔루션</button>
                <button class="btn btn-sm btn-outline-primary rounded-5">웹 퍼블리셔</button>
                <button class="btn btn-sm btn-outline-primary rounded-5">VR/AR/3D</button>
                <button class="btn btn-sm btn-outline-primary rounded-5">블록체인</button>
                <button class="btn btn-sm btn-outline-primary rounded-5">기술지원</button>
            </div>
        </div>
    </div>

    <div class="bg-light">
        <div class="dropdown">
            <button class="btn btn-outline-primary dropdown-toggle mt-3 ms-3 rounded-5" type="button"
                    data-bs-toggle="dropdown">
                기술스택
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Java</a></li>
                <li><a class="dropdown-item" href="#">C++</a></li>
                <li><a class="dropdown-item" href="#">Linux</a></li>
            </ul>

            <button class="btn btn-outline-primary dropdown-toggle mt-3 ms-3 rounded-5" type="button"
                    data-bs-toggle="dropdown">
                경력
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">전체</a></li>
                <li><a class="dropdown-item" href="#">신입</a></li>
                <li><a class="dropdown-item" href="#">1년</a></li>
                <li><a class="dropdown-item" href="#">2년</a></li>
                <li><a class="dropdown-item" href="#">3년</a></li>
                <li><a class="dropdown-item" href="#">9년</a></li>
                <li><a class="dropdown-item" href="#">10년 이상</a></li>
            </ul>

            <button class="btn btn-outline-primary dropdown-toggle mt-3 ms-3 rounded-5" type="button"
                    data-bs-toggle="dropdown">
                지역
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">서울</a></li>
                <li><a class="dropdown-item" href="#">경기도</a></li>
                <li><a class="dropdown-item" href="#">부산</a></li>
            </ul>
            <div class="d-flex flex-row-reverse mb-2">
                <button class="btn btn-outline-light text-dark me-3">인기순</button>
                <button class="btn btn-outline-light text-dark">최신순</button>
            </div>


            <div>
                <div class="row gx-3 gy-4 ms-2 me-2">
                    {{#models}}
                        <div class="col-md-3 col-sm-6">
                            <a href="/상세페이지URL1" class="text-decoration-none text-dark">
                                <div class="mb-3 position-relative">
                                    <img src="/img/{{image}}" class="img-fluid">
                                    <span
                                            class="position-absolute top-0 start-0 badge bg-primary ms-2 mt-2">D-{{dDay}}</span>
                                </div>
                                <div>
                                    <div class="position-relative">
                                        <div class="mb-2">{{companyName}}</div>
                                    </div>
                                    <h4 class="mb-2">{{title}}</h4>
                                    <div class="mb-3">
                                        <div><small>{{#techStacks}}
                                            {{name}} ·
                                        {{/techStacks}}</small></div>
                                        <div><small>{{address}} · 경력 {{career}}</small></div>
                                    </div>
                                </div>
                            </a>
                            <button class="btn btn-outline-primary w-100"><i class="fa fa-bookmark-o me-2"></i>
                                스크랩하기
                            </button>
                        </div>
                    {{/models}}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 본문 끝 -->

{{> layout/footer}}